@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-color-menu-secondary: #3b82f6;

  --background-navbar-rgb: #f3f4f6;

  --navbar-height: 7dvh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --font-color-menu-secondary: #3b82f6;

    --background-navbar-rgb: #1e293b;

    --navbar-height: 7dvh;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
